* {
    -fx-font-family: Georgia;
    -fx-font-size: 20px;
}
.menu-button{
    -fx-background-color: #d1ae86;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
.color-picker{
    -fx-background-color: #d1ae86;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
#clear_all{
    -fx-background-color: #dc8080;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
#simetria{
    -fx-font-style: italic;
}
.check-box{
    -fx-background-color: #ffe08a;
}
#save{
    -fx-background-color: #7cb658;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
}
.menu-item{
    -fx-background-color: #efc8a4;
    -fx-font-style: italic;
}
